/* Сетка Контактов */
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 48px 16px;
  justify-content: center;
  align-items: center;
}

/* Карта и блок информации */
.contact-info, .contact-map {
  background: #111;
  padding: 24px;
  border-radius: var(--radius);
}
.contact-map h1 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}
 /* Фон Google My Maps */
.contact-map iframe {
  border-radius: var(--radius);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

/* Кнопка бронирования */
.contact-info .btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--accent);
  color: var(--text);
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.contact-info .btn:hover {
  background-color: var(--accent-hover);
  color: var(--text);
  text-decoration: underline;
  opacity: 0.7;
}
.contact-info p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.contact-info a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--text);
    text-decoration: none;
}
.contact-info a:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--accent);
    text-decoration:underline;
    opacity: 0.7;
}

/* Соцсети */
.social-links {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.social-links, button {
  color: var(--accent);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-links button:hover {
  color: var(--accent-hover);
  text-decoration: none;
  opacity: 0.7;
}
